ocp-linux-386; platform_system=='Linux' and platform_machine=='i386'
ocp-linux-amd64; platform_system=='Linux' and platform_machine=='x86_64'
ocp-linux-arm; platform_system=='Linux' and platform_machine=='arm'
ocp-linux-arm64; platform_system=='Linux' and platform_machine=='aarch64'
ocp-windows-386; platform_system=='Windows' and platform_machine=='i386'
ocp-windows-amd64; platform_system=='Windows' and platform_machine=='x86_64'
ocp-darwin-arm64; platform_system=='Darwin' and platform_machine=='aarch64'
ocp-darwin-amd64; platform_system=='Darwin' and platform_machine=='x86_64'
